.testimonials {
    display: flex;
    flex-direction: column;
    background-color: #f5f4f0;
    padding: 64px;
}

.testimonals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

/* Layout para tamanho de celulares */
@media (max-width: 375px) {
    .testimonals-container {
        grid-template-columns: 1fr;
    }
}
