.services {
    background-color: #F5F4F0;
    padding: 80px 32px;
    margin-bottom: 64px;
}

.card-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 24px;
}
