.menu {
    display: flex;
    flex-direction: row;
    background-color: #FBF7EC;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-Content: space-between;
    margin: 32px 132px 32px 132px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #5A5A5A;

}

.menu-item {
    margin-right: 32px;
}