.portfolio {
    display: flex;
    flex-direction: column;
    background-color: #fbf7ec;
    align-items: center;
    text-align: center;
    margin-top: 64px;
}

/* Layout para tamanho de celulares */
@media (max-width: 375px) {
    .portfolio {
        padding: 32px;
    }
}
