.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-image {
    width: fit-content;
    max-width: 250px;
}

.banner-title {
    color: #39364E;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 24px;
}

/* Layout para tamanho de celulares */
@media (max-width: 375px) {
    .banner {
        display: grid;
        text-align: center;
    }
}
