.header {
    background-color: #fbf7ec;
}

.header-container {
    padding: 32px 64px;
}

.image-header {
    width: 402px;
    height: 455px;
}

.hightlight {
    color: #756bee;
}

/* Layout para tamanho de celulares */
@media (max-width: 375px) {
    .header-container {
        max-width: 300px;
    }

    .image-header {
        display: none;
    }

    .header-column {
        text-align: center;
    }
}
