.card, .purple-card  {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 300px;
    height: auto;
    align-items: center;
    padding: 24px;
}

.card {
    background-color: #fff;
}

.purple-card {
    background-color: #756bee;
}

.purple-card p, .purple-card h2{
    color: #fff; 
}

.card-img {
    width: 100px;
    height: 100px;
}

/* Layout para tamanho de celulares */
@media (max-width: 375px) {
    .card, .purple-card  {
        width: 225px;
        height: 225px;
    }
    
    .card-img {
        width: 50px;
        height: 50px;
    }
}
