.about {
    margin: 128px 0;
    padding: 32px 64px;
}

.image-about {
    width: 400px;
    height: 330px;
}

/* Layout para tamanho de celulares */
@media (max-width: 375px) {
    .image-about {
        width: 200px;
        height: 165px;
        margin-left: 8px;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .about-column {
        text-align: center;
    }
}
