.footer-container {
    display: grid;
    background-color: #2f2e41;
    padding: 24px;
    width: -webkit-fill-available;
}

.site-list, .social-media-list {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 16px;
}

.copyright, .site-sections, .social-media {
    color: #fff;
}


.site-sections a, .social-media a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    margin-top: 24px;
}

/* Layout para tamanho de celulares */
@media (max-width: 480px) { 
    .footer-container {
        padding: 16px;
    }

    .site-list, .social-media-list {
        gap: 16px;
        padding: 8px;
    }
}